header h1 {
    text-align: center;
    padding: 60px;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    color: var(--color-titulos-hover);
}

.formulario {
    background-color: #FFFFFF;
    padding: 50px;
    margin-bottom: 30px;

    aside {
        width: 50%;
        margin: 0 auto;
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: 10px;
        display: block;
        padding: 8px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-background-general-border-input);
    }

    input::placeholder,
    textarea::placeholder {
        color: #999;
        font-size: 14px;
        font-family: 'Lora', serif;
        font-style: italic;
    }

    input:focus,
    textarea:focus {
        outline: none;
        border-color: var(--color-background-general-border-input);
        font-family: 'Lora', serif;
        box-shadow: 0 0 0 2px var(--color-box-shadow);
    }



    button {
        display: block;
        margin-left: auto;
        margin-top: 10px;
        background-color: var(--color-boton-fecha);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Lora', serif;
        box-shadow: 0 0 0 2px var(--color-box-shadow);
    }

    button:hover {
        background-color: var(--color-titulos-hover);
    }

}

.noticias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 20px;
    grid-auto-rows: auto;

    article {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--color-background-article);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 0 2px rgba(122, 119, 198, 0.2);

    }

    img {
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;

    }

    h2 {
        padding: 15px;
        font-size: 20px;
        color: var(--color-titulos-hover);
        font-family: 'Playfair Display', serif;
    }


    p {
        margin: 15px;
        font-size: 14px;
        color: #171917;
        font-family: 'Lora', serif;
        flex-grow: 0;
        text-align: justify;
        padding-bottom: 10px;
    }

    small {
        font-size: 14px;
        color: var(--color-boton-fecha);
        font-weight: 500;
        font-family: 'Lora', serif;
        margin-top: auto;
        margin-bottom: 25px;
    }

}

@media (min-width: 1920px) {
    .noticias {
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        max-width: 1700px;

        p {
            padding-bottom: 10px;
        }

        small {
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }

}


@media (max-width: 900px) {
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1300px;
        padding: 0 20px;
    }

    .formulario aside {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .noticias {
        grid-template-columns: 1fr;
        max-width: 400px;
        gap: 15px;
        grid-auto-rows: auto;
        margin: 20px 40px;
        padding: 0 10px;

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
        }

        small {
            font-size: 15px;
        }
    }

    .formulario {
        aside {
            width: 100%;
        }

        button {
            width: 100%;
            padding: 12px 0;
        }
    }

    header h1 {
        font-size: 24px;
        padding: 20px 10px;

    }
}