* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    padding: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #5D6953;
}
.formulario {
    background-color: #A3AB94;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;

    input,
    textarea {
        display: flex;
        width: 50%;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #5D6953;
        border-radius: 10px;
    }

    button {
        background-color: #667058;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

}

.noticias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    

    article {
        width: calc(30% - 10px);
        border: 1px solid #49523F;
        text-align: center;
        box-shadow: 1px 2px 5px #5D6953;
        padding: 15px;
        background-color: #CED2C4;
    }

    h2 {
        margin-top: 0;
        padding-bottom: 10px;
        font-size: 20px;
        color: #5D6953;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 3px;
        margin: 1px 0;
    }

    p {
        margin: 10px 0;
    }

    small {
        color: #666;
    }

}

